<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="icon" href="../assets/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/detallesProducto.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>SeguraSneakers</title>
</head>
<body>
    <header>
        <a href="../index.html">
            <img src="../assets/logo.png" alt="Logo de Segura Sneakers">
        </a>
        <form>
            <i class="fa-solid fa-magnifying-glass"></i>
            <input class="buscar" type="text" name="search" placeholder="Search..">
        </form>
        <input type="checkbox" id="toggle">
        <label for="toggle" class="toggle-btn">
            <div class="hamburger">
                <i class="fas fa-bars"></i>
            </div>
        </label>
        <nav class="menu">
            <ul>
                <li><a href="#">Login</a></li>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="carrito.html">Carrito</a></li>
            </ul>
        </nav>

        <div class="sesion">
            <a href="" class="header-nav">
                <i class="fa-solid fa-user"></i>
                <p>Login</p>
            </a>
        </div>

        <div class="home">
            <a href="../index.html" class="header-nav">
                <i class="fa-solid fa-house"></i>
                <p>Inicio</p>
            </a>
        </div>
        <div class="carrito">
            <a href="" class="header-nav">
                <i class="fa-solid fa-cart-shopping"></i>
                <p>Carrito</p>
            </a>
        </div>
    </header>

    <main>
        <h1>Detalles del producto</h1>
        <h3>Zapatillas multicolor 3</h3>
        <p class="stock">quedan: 31</p>
        <p class="price">180€</p>
        <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non voluptatibus architecto ab cupiditate! Sunt voluptates, possimus nam suscipit voluptas earum modi eum quo consectetur iste aperiam.</p>
        <img src="../assets/sneaker14.png">
        <button class="comprar"><i class="fa-solid fa-cart-shopping"></i>Añadir al carrito</button>
    </main>

            
    <section class="talla">
        <article class="talla-titulo">
            <h3>Talla</h3>
        </article>
        <article class="talla-bttn">
            <button>Talla 41</button>
            <button>Talla 42</button>
            <button>Talla 43</button>
            <button>Talla 44</button>
            <button>Talla 45</button>
            <button>Talla 46</button>
            <button>Talla 47</button>
            <button>Talla 48</button>
            <button>Talla 49</button>
            <button>Talla 50</button>
            <button>Talla 51</button>
            <button>Talla 52</button>
        </article>
    </section>
    <section>
        <article class="valoracio">
            <h3>Valoración</h3>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
        </article>
    </section>

    <footer>
        <nav>
            <article class="redes">
                <a href="https://instagram.com" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://facebook.com" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://twitter.com" target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </article>
            <article class="enlaces">
                <ul>
                    <li>
                        <a href="">Devoluciones</a>
                    </li>
                    <li>
                        <a href="">Cookies</a>
                    </li>
                    <li>
                        <a href="">Terminos y condiciones</a>
                    </li>
                </ul>
            </article>
        </nav>
        <p class="derechos"><i class="fa-regular fa-copyright"></i> SeguraSneakers, inc. Todos los derechos reservados</p>
    </footer>
</body>
</html>